{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if hasSubmitButton}}
    <button autofocus type="button"
    disabled={{submitDisabled}}
    class="btn {{_buttonType}}"
    data-test-id="nucleus-submit-button"
    onClick={{action onSubmit}}>
      {{submitTitle}}
    </button>
  {{/if}}
  {{#if hasCloseButton}}
    <button type="button"
      class="btn btn--secondary"
      name="button"
      onClick={{action onClose}}
      data-test-id="nucleus-close-button">
      {{closeTitle}}
    </button>
  {{/if}}
{{/if}}