{{#if closeButton}}
  <button 
  type="button"
  onclick={{action "onClose"}}
  class="nucleus-modal__close"
  aria-label="Close button">
    {{svg-jar "close" class="app-icon app-icon--smallsecondary modal-close" aria-hidden="true"}}
  </button>
{{/if}}
{{#if hasBlock}}
  {{yield}}
{{else}}
  <h4 class="nucleus-modal__title">{{title}}</h4>
{{/if}}
