{{#if label}}
<button aria-label={{label}} class="nucleus-button" disabled={{isDisabled}}>
{{label}}
</button>
{{else}}
<button aria-label="nucleus-button" class="nucleus-button">
{{yield}}
</button>
{{/if}}
