{{#docs-demo as |demo|}}
  {{#demo.example name="nucleus-toast.hbs"}}
    <button onclick={{action "success"}} class="docs-btn">
      Success
    </button>
    <button onclick={{action "danger"}} class="docs-btn">
      Danger
    </button>
    <button onclick={{action "info"}} class="docs-btn">
      Info
    </button>
    <button onclick={{action "warning"}} class="docs-btn">
      Warning
    </button>
  {{/demo.example}}
  {{demo.snippet "nucleus-toast.hbs"}}
{{/docs-demo}}